body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.code-element
{
    cursor: pointer;
    font-size: 9pt;
}

.code-element-shown 
{
    opacity: 1;
}

.code-element-not-shown
{
    opacity: 0.3;
}

.container {
    margin: 0;
    width: 100%;
}
