body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.code-element
{
    cursor: pointer;
    font-size: 9pt;
}

.code-element-shown 
{
    opacity: 1;
}

.code-element-not-shown
{
    opacity: 0.3;
}

.container {
    margin: 0;
    width: 100%;
}

.elementList {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#graph {
    height: 510px;
}

.zoomArea 
{
    display: inline;
    float: right;
}

.concernColor {
    min-width: 20px;
    margin: 2px 0px;
}

.concernColorList {
    padding: 0px 5px;
    display: inline;
}

.selectableConcern {
    cursor: pointer;
}
